<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body onload="start()">
    <input type="hidden" name="" id="file" value="<%=retorno%>">
</body>
<script>
    function start() {
        var link = document.createElement("a");
        link.download = "export.xls";
        link.href = document.getElementById("file").value
        link.click();
        return true
    }
</script>

</html>